@{
	Layout = "_Layout";
}
@model Factory.Models.Engineer

<h2 id="title">Engineer: <b>@Html.DisplayFor(model => model.Name)</b></h2>

<hr />

@if (Model.Machines.Count == 0)
{
	<p>No machines have been added to this engineer yet.</p>
}
else
{
	<h4><u>Machines</u></h4>
	<ul>
		@foreach (var join in Model.Machines)
		{
			<li class="inline">
				@using (Html.BeginForm("DeleteMachine", "Engineers"))
				{
						@Html.ActionLink($"{join.Machine.Name}", "Details", "Machines", new { id = join.Machine.MachineId })
						@Html.Hidden("joinId", @join.EngineerMachineId)
						<input id="delete" type="submit" value="Delete" />
				}
			</li>
		}
	</ul>
}

<hr />

<p>
	@Html.ActionLink("Add machine", "AddMachine", new { id = Model.EngineerId })
	|
	@Html.ActionLink("Edit", "Edit", new { id = Model.EngineerId })
	|
	@Html.ActionLink("Delete", "Delete", new { id = Model.EngineerId })
	<br>
	@Html.ActionLink("View all engineers", "index")
	|
	@Html.ActionLink("Go to homepage", "Index", "Home")
</p>