@{
	Layout = "_Layout";
}

@model Factory.Models.Machine

<h2 id="title">Edit <b>@Html.DisplayFor(model => model.Name)</b></h2>

<hr />

@using (Html.BeginForm())
{
	@Html.HiddenFor(model => model.MachineId)

	@Html.LabelFor(model => model.Name)
	<br>
	@Html.TextBoxFor(model => model.Name)
	<br>
	@Html.Label("Engineer")
	<br><br>
	@Html.DropDownList("EngineerId")
	<br>
	<br><br>
	<input type="submit" value="Save" />
}

<p>
	@Html.ActionLink("View all machines", "Index")
 |
	@Html.ActionLink("Go to homepage", "Index", "Home")
</p>