@{
	Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Machine

<h2 id="title">Machine: <b>@Html.DisplayFor(model => model.Name)</b></h2>

<hr />

@if (Model.Engineers.Count == 0)
{
	<p>This machine doesn't have any engineers assigned.</p>
}
else
{
	<h4><u>Engineers</u></h4>
	<ul>
		@foreach (var join in Model.Engineers)
		{
			<li class="inline">
				@using (Html.BeginForm("DeleteEngineer", "Machines"))
				{
					@Html.ActionLink($"{join.Engineer.Name}", "Details", "Engineers", new { id = join.Engineer.EngineerId })
					@Html.Hidden("joinId", @join.EngineerMachineId)
					<input id="delete" type="submit" value="Delete" />
				}
			</li>
		}
	</ul>
}

<hr />

<p>
	@Html.ActionLink("Add engineer", "AddEngineer", new { id = Model.MachineId })
	|
	@Html.ActionLink("Edit", "Edit", new { id = Model.MachineId })
	|
	@Html.ActionLink("Delete", "Delete", new { id = Model.MachineId })
	<br>
	@Html.ActionLink("View all machines", "index")
	|
	@Html.ActionLink("Go to homepage", "Index", "Home")
</p>